.sensor {
  width: 20px;
  height: 20px;
  border: solid 1px rgb(0, 0, 0);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  position: absolute;

  background: rgb(30, 125, 75);

  box-shadow: 0 0 0 90px rgba(25, 200, 75, 0.12);
}

.sensor:active {
  border: solid 2px rgb(100, 100, 100);
  border-radius: 50px;
}